# Ignore node modules everywhere
node_modules/

# Ignore environment files if any
.env
.env.local
.env.*.local

# Ignore build/dist folders if you want (optional)
dist/
build/

game-hub/src/enviroment.ts
