@if(metacritic() != null) {
  <div
    class="w-[25px] h-[25px] text-center rounded-lg  flex justify-center items-center"
    [class]="
      metacritic()! > 75
        ? 'bg-green-200'
        : metacritic()! > 60
        ? 'bg-yellow-200'
        : 'bg-gray-200'
    "
  >
    <p [class]="
      metacritic()! > 75
        ? 'text-green-500'
        : metacritic()! > 60
        ? 'text-yellow-500'
        : 'text-gray-500'
    "
    class="text-sm font-bold"
    >{{ metacritic() }}</p>
  </div>
}@else {

}
