<app-searchbar />
@if(isAuthenticated()) {
  @if(isLoading()) {
    <div class="flex items-center justify-center h-screen -mt-20">
      <mat-spinner diameter="50"></mat-spinner>
      </div>
  } @else {

  
  <div  class="flex flex-row mx-auto max-w-[1400px] mt-10">
  <div class="px-4 min-h-screen w-full">
    <div class="rounded-xl">
      <mat-form-field appearance="fill" >
        <mat-label>Sort</mat-label>
        <mat-select
          panelClass="sort-select"
          [(ngModel)]="sort"
          name="sort"
          (selectionChange)="searchGames(sort)"
        >
          <mat-option value="-released">Released</mat-option>
          <mat-option value="-added">Added</mat-option>
          <mat-option value="-created">Created</mat-option>
          <mat-option value="-updated">Updated</mat-option>
          <mat-option value="-rating">Rating</mat-option>
          <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <section
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[25px] mt-[25px] "
    >
      @for(game of games(); track game.id) {
        <div
          class="border rounded-2xl shadow-[0_8px_25px_rgba(255,85,85,0.2)] overflow-hidden bg-black flex flex-col mt-[9px] w-full transition-transform duration-300 hover:scale-105 hover:shadow-[0_12px_40px_rgba(255,85,85,0.3)] hover:bg-zinc-900"
          style="max-height: 400px;"
          (click) = "onSelectGame(game.id)"
        >
          <div class="bg-white h-[200px]">
            <img
              src="{{game.background_image}}"
              alt="{{game.name}}"
              class="w-full h-full object-contain"
            />
          </div>
          <div class="mt-4 p-6">
            <h2 class="text-xl font-bold text-white mb-4">{{game.name}}</h2>
            <div class="flex flex-row">
                @for(platform of game.parent_platforms; track platform.platform.id) {
                    <img
                src="{{platform.platform.slug}}.svg"
                alt="Xbox Logo"
                class="w-[20px] h-8 mr-[10px] "
              />
                }
              
            </div>
          </div>
        </div>
      }
    </section>
  </div>
</div>
  }
}
